//colors
$color-alabastro: #FAFAFA;
$color-ampo: #EFF2FB;
$color-blueViolet: #AC58FA;
$color-chartreuse: #3ADF00;
$color-crimson: #DF013A;
$color-deepSkyBlue: #2E9AFE;
$color-gainsboro: #BDBDBD;
$color-silver: #6E6E6E;
$color-mediumSlateBlue: #8181F7;
$color-ligthMoon: #F2F2F2;
$color-lime: #74DF00;
$color-royalBlue: #3559D1;
$color-white: #FFF;
$color-white-low: #E6E6E6;
